@page
@model CatmanagerModel
@{
    ViewData["Title"] = "Cat Manager";
}

<div class="container">
    <h1 class="text-center my-4">Cat Manager</h1>

    <!-- Sắp xếp và Tạo mới -->
    <div class="d-flex justify-content-between my-3">
        
        <div>

            <a asp-page="CreateCat" asp-route-areaId="@Model.AreaId" class="btn btn-primary">Create New Cat</a>
        </div>
    </div>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.Cats)
            {
                <tr>
                    <td>@cat.CatId</td>
                    <td>@cat.CatName</td>
                    <td>
                        <img src="@cat.CatImage" alt="Cat Image" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>@(cat.CatEnabled ?? false)</td>
                    <td>
                        <form method="post" asp-page-handler="ToggleEnabled" asp-route-id="@cat.CatId" asp-route-isEnabled="@(!cat.CatEnabled)">
                            <button type="submit" class="btn btn-link">@((cat.CatEnabled ?? false) ? "Disable" : "Enable")</button>
                        </form>
                        <!-- Nút Update -->
                        <a asp-page="UpdateCat" asp-route-areaId="@cat.AreaId "asp-route-id="@cat.CatId" class="btn btn-link">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="./AreaManager" class="btn btn-primary">Back</a>
    <!-- Phân trang -->
    <div class="d-flex justify-content-center my-3">
        @if (Model.TotalPages > 1)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-page="./CatManager" asp-route-pageIndex="@i" asp-route-areaId="@Model.AreaId">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
