@page
@model MenuItemManagerModel
@{
    ViewData["Title"] = "MenuItem Manager";
}
<div class="container">
    <h1 class="text-center my-4">MenuItem Manager</h1>

    <!-- Sắp xếp và Tạo mới -->
    <div class="d-flex justify-content-between my-3">
        <div>
            <a asp-page-handler="Sort" asp-route-sortOrder="Address" class="btn btn-link mx-2">Sort </a>
        </div>
        <div>

            <a asp-page="CreateItem" asp-route-shopId="@Model.ShopId" class="btn btn-primary">Create New Item</a>
        </div>
    </div>

    <!-- Tìm kiếm -->
    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="searchString" class="form-control" placeholder="Search"
            <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MenuItems)
            {
                <tr>
                    <td>@item.ItemId</td>
                    <td>@item.ItemName</td>
                    <td>@item.ItemPrice</td>
                    <td>@(item.ItemEnabled ?? false)</td>
                    <td>
                        <form method="post" asp-page-handler="ToggleEnabled" asp-route-id="@item.ItemId" asp-route-isEnabled="@(!item.ItemEnabled)">
                            <button type="submit" class="btn btn-link">@((item.ItemEnabled ?? false) ? "Disable" : "Enable")</button>
                        </form>
                        <!-- Nút Update -->
                        <a asp-page="UpdateItem" asp-route-shopId="@item.ShopId " asp-route-id="@item.ItemId" class="btn btn-link">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="./ShopManager" class="btn btn-primary">Back</a>
    <!-- Phân trang -->
    <div class="d-flex justify-content-center my-3">
        @if (Model.TotalPages > 1)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-page="./MenuItemManager" asp-route-pageIndex="@i" asp-route-shopId="@Model.ShopId">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
