@page
@model ShopManager
@{
    ViewData["Title"] = "Coffee Shops";
}

<div class="container">
    <h1 class="text-center my-4">Coffee Shops</h1>
    <a asp-page="/ShopOwner/CreateStaff" class="btn btn-primary">Create Staff</a>
    <a asp-page="/ShopOwner/StaffManager" class="btn btn-primary">Manager Staff</a>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Enabled</th>
                <th>Image</th>
                <th>Action</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Shop.ShopId</td>
                <td>@Model.Shop.ShopName</td>
                <td>@Model.Shop.ShopEmail</td>
                <td>@Model.Shop.ShopAddress</td>
                <td>@Model.Shop.ShopTelephone</td>
                <td>@(Model.Shop.ShopEnabled ?? false)</td>
                <td>@Model.Shop.ShopImage</td>
                <td>
                    <form method="post" asp-page-handler="ToggleEnabled" asp-route-id="@Model.Shop.ShopId" asp-route-isEnabled="@(!Model.Shop.ShopEnabled)">
                        <button type="submit" class="btn btn-link">@((Model.Shop.ShopEnabled ?? false) ? "Disable" : "Enable")</button>
                    </form>
                    <a asp-page="UpdateShop" asp-route-id="@Model.Shop.ShopId" class="btn btn-link">Update</a>
                </td>
                <td>
                    <div>
                        <a asp-page="AreaManager" data-shop-id="(Model.Shop.ShopId)" class="btn btn-link">Manage Area</a>
                        <br />
                        <a asp-page="MenuItemManager" data-shop-id="(Model.Shop.ShopId)" class="btn btn-link">Manage Menu</a>
                    </div>
    
                </td>
            </tr>
        </tbody>
    </table>
</div>
