@page
@model ShopManager
@{
    ViewData["Title"] = "Coffee Shops";
}

@functions {
    public string EncodeId(int id)
    {
        var plainTextBytes = System.Text.Encoding.UTF8.GetBytes(id.ToString());
        return System.Convert.ToBase64String(plainTextBytes);
    }
}

<div class="container">
    <h1 class="text-center my-4">Coffee Shops</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Enabled</th>
                <th>Image</th>
                <th>Action</th>
                <th>Manage</th> <!-- Cột mới -->
            </tr>
        </thead>
        <tbody>
            <tr data-shop-id="@EncodeId(Model.Shop.ShopId)"> <!-- Mã hóa ID của cửa hàng -->
                <td>@Model.Shop.ShopName</td>
                <td>@Model.Shop.ShopEmail</td>
                <td>@Model.Shop.ShopAddress</td>
                <td>@Model.Shop.ShopTelephone</td>
                <td>@(Model.Shop.ShopEnabled ?? false)</td>
                <td>@Model.Shop.ShopImage</td>
                <td>
                    <form method="post" asp-page-handler="ToggleEnabled" asp-route-id="@Model.Shop.ShopId" asp-route-isEnabled="@(!Model.Shop.ShopEnabled)">
                        <button type="submit" class="btn btn-link">@((Model.Shop.ShopEnabled ?? false) ? "Disable" : "Enable")</button>
                    </form>
                    <!-- Nút Update -->
                    <a asp-page="UpdateShop" asp-route-id="@Model.Shop.ShopId" class="btn btn-link">Update</a>
                </td>
                <td>
                    <div>
                        <a asp-page="AreaManager" data-shop-id="@EncodeId(Model.Shop.ShopId)" class="btn btn-link">Manage Area</a>
                        <br />
                        <a asp-page="MenuItemManager" data-shop-id="@EncodeId(Model.Shop.ShopId)" class="btn btn-link">Manage Menu</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
