@page
@model TableManagerModel
@{
    ViewData["Title"] = "Coffee Shops";
}

<div class="container">
    <h1 class="text-center my-4">Coffee Shops</h1>

    <div class="d-flex justify-content-between my-3">
        <div>

            <a asp-page="CreateTable" asp-route-areaId="@Model.AreaId" class="btn btn-primary">Create New Table</a>
        </div>
    </div>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Status</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model.Tables)
            {
                <tr>
                    <td>@table.TableId</td>
                    <td>@table.TableName</td>
                    <td>@table.TableCapacity</td>
                    <td>@table.TableStatus</td>
                    <td>@(table.TableEnabled ?? false)</td>
                    <td>
                        <form method="post" asp-page-handler="ToggleEnabled" asp-route-id="@table.TableId" asp-route-isEnabled="@(!table.TableEnabled)">
                            <button type="submit" class="btn btn-link">@((table.TableEnabled ?? false) ? "Disable" : "Enable")</button>
                        </form>
                        <!-- Nút Update -->
                        <a asp-page="UpdateTable" asp-route-areaId="@table.AreaId " asp-route-id="@table.TableId" class="btn btn-link">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="./AreaManager" class="btn btn-primary">Back</a>
    <!-- Phân trang -->
    <div class="d-flex justify-content-center my-3">
        @if (Model.TotalPages > 1)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-page="./TableManager" asp-route-pageIndex="@i" asp-route-areaId="@Model.AreaId">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
