@page
@model BookingHistoryModel
@{
    ViewData["Title"] = "Booking History";
}

<h1>Booking History for Customer: </h1>

@if (Model.BookingHistory != null && Model.BookingHistory.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Booking Code</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Items</th>
                <th>Tables</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.BookingHistory)
            {
                <tr>
                    <td>@booking.BookingCode</td>
                    <td>@booking.BookingStartTime</td>
                    <td>@booking.BookingEndTime</td>
                    <td>
                        <ul>
                            @foreach (var item in booking.Items)
                            {
                                <li>item name: @item.ItemName - price: @item.ItemPrice vnđ</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var table in booking.Tables)
                            {
                                <li>table: @table.TableName - capacity:@table.TableCapacity</li>
                            }
                        </ul>
                    </td>
                    <td>@(booking.BookingEnabled == true ? "Enabled" : "Disabled")</td>
                    <td>
                        @if (booking.BookingEnabled == false)
                        {
                            <form method="post" asp-page-handler="CancelBooking" asp-route-bookingId="@booking.BookingId">
                                <button type="submit" class="btn btn-danger">Cancel Booking</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}